@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    color: #fff;
    padding: 1rem;
}

header h1 {
    font-size: 1.73em;
    font-family: 'Zen Dots';
    margin: 20px 0px;
}

header nav ul {
    margin: 0 auto;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: auto;
}

header nav ul li a {
    color: #fff;
}

.btnMenu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1.8rem;
    font-size: bolder;
    font-size: 12px;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.btn1 {
    border-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.btn1:hover {
    background-color: #60605e;
}

main > #services, #booking, #contact, #location {
    margin: 0 auto;
    background-color: #fff;
}

#hero {
    background: url(../images/barber.avif) no-repeat center center/cover;
    font-size: 1.6em;
    color: #fff;
    padding: 100px 0 ;
}

#hero > .container {
    padding: 40px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#services {
    padding: 50px 0;
    text-align: center;
}

#services h2 {
    font-size: 2em;
}

#services .services-list {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#services .services-item {
    padding: 5px 0;
}

#booking {
    padding: 50px 0;
    text-align: center;
}

#booking-form {
    display: inline-block;
    text-align: left;
}

#booking-form label {
    display: block;
    margin-top: 10px;
}

#booking-form > input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#contact {
    padding: 30px 0;
}

footer {
    color: white;
    padding: 1rem 0;
}